.thumbnails {
        width: 100%;
      }

      .video-title {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        width: 240px;
        margin-top: 5px;
        line-height: 18px;
        display: inline-block;

      }

      .video-author {
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        color: rgb(96, 96, 96);;
        margin-bottom: 3px;
        margin-top: -5px;
        display: inline-block;
      }

      .video-stats {
        font-family: Arial;
        font-size: 11px;
        font-weight: bold;
        margin-top: 3px;
        
      }

      .profile-picture {
        width: 50px;
        border-radius: 25px;
        display: inline-block;
      }

      .video-preview {
        width: 300px;
        display: inline-block;
        vertical-align: top;
      }

      .thumbnail-row {
        margin-right: 15px;
        position: relative;
      }

      .channel-picture {
        display: inline-block;
        width: 50px;
        vertical-align: top;
        margin-top: 5px;
      }

      .video-info {
        display: inline-block;
        width: 200px;
      }
      
      .head {
        margin: 0px;
        padding-bottom: 1000px;
        padding-top: 80px;
        padding-left: 40px;
      }

      .video-grid {
        display: inline-block;
        grid-template-columns: 300px 300px 300px;
        column-gap: 15px;
      }

      .video-time {
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right: 5px;
        

      }